---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import MainContainer from "../../components/MainContainer.astro";
import TableOfContent from "../../components/TableOfContent.astro";
export async function getStaticPaths() {
  const allAssets = await getCollection("assets");

  return allAssets.map((asset) => ({
    params: { slug: asset.data.title },
    props: {
      asset: asset,
    },
  }));
}

const { asset } = Astro.props;
const { Content, headings } = await asset.render();
---

<Layout title="Strapped Assets.">
  <MainContainer
    title={asset.data.title}
    subtitle={asset.data.description}
    image={asset.data.img}
    transitionName={asset.data.title}
  />
  <div class="flex relative mx-4">
    <div class="flex-grow">
      <Content />
    </div>
    <div class="relative">
      <TableOfContent headings={headings} />
    </div>
  </div>
</Layout>
