---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  img: string;
  url: string;
}

const {
  title = "title",
  description = "description",
  img = "/src/assets/theme.jpg",
  url = "#",
} = Astro.props;

const images = import.meta.glob("/src/assets/*.{jpeg,jpg,png,gif,svg}");
---

<div class="card-wrapper lg:col-span-2">
  <a
    class="flex-col inline-flex rounded-2xl min-w-[10rem] lg:min-w-[18rem] group hover:rounded-3xl transition-all ease-linear duration-100 bg-slate-100 dark:bg-gray-400 dark:text-white dark:hover:bg-blue-300 hover:outline-1 hover:outline hover:outline-black dark:hover:outline-1 dark:hover:outline dark:hover:outline-white hover:bg-blue-200 w-full h-full"
    href={url}
  >
    <div
      class="rounded-2xl group-hover:rounded-2xl overflow-hidden w-full h-[200px] min-w-[200px]"
    >
      <Image
        src={images[img]()}
        height="160"
        width="160"
        alt={title}
        class="object-cover w-full h-full"
      />
    </div>

    <div class="grid relative m-6 gap-2 self-start">
      <span class="text-base font-bold">{title}</span>
      <span>{description}</span>
    </div>
  </a>
</div>
