<div class="body">
  <div class="sidebar-items">
    <div class="sidebar-togglertest">
      <span class="sidebar-togglertest-icon">
        <i class="fa-solid fa-bars"></i>
      </span>
      <span class="sidebar-togglertest-icon">
        <i class="fa-solid fa-bars-staggered"></i>
      </span>
    </div>

    <span>My company name</span>
  </div>

  <div class="wrapper">
    <div class="navigation-rail-wrappertest">
      <div class="navigation-rail">
        <div class="navigation">
          <nav class="navigation-items">
            <a role="button" href="#" class="navigation-item">
              <span class="navigation-item-icon">
                <i class="fa-solid fa-house"></i>
              </span>
              <div class="navigation-item-label">Home</div>
              <div class="spacer"></div>
            </a>
            <a
              data-targettest="components"
              role="button"
              href="#"
              class="navigation-item"
            >
              <span class="navigation-item-icon">
                <i class="fa-solid fa-house"></i>
              </span>
              <div class="navigation-item-label">Components</div>
              <div class="spacer"></div>
              <div class="navigation-item-following-icon">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </a>

            <a
              data-targettest="styles"
              role="button"
              href="#"
              class="navigation-item"
            >
              <span class="navigation-item-icon">
                <i class="fa-solid fa-star-of-david"></i>
              </span>
              <div class="navigation-item-label">Styles</div>
              <div class="spacer"></div>

              <div class="navigation-item-following-icon">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </a>
          </nav>
        </div>

        <div class="theme-toggler" role="button">
          <div class="toggler">
            <span class="icon" id="sun">
              <i class="fa-solid fa-sun fa-2xl"></i>
            </span>
            <span class="icon" id="moon">
              <i class="fa-solid fa-moon fa-2xl"></i>
            </span>
          </div>
          <div class="toggler__label">
            <span>Change the theme</span>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-drawer">
      <aside class="drawer-wrappertest" aria-expanded="false">
        <nav class="drawer-navigation">
          <div data-drawertest="components" class="drawer-navigation-itemstest">
            <a
              role="button"
              href="#"
              class="drawer-navigation-item drawer-close"
            >
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-arrow-left"></i>
              </span>
              <span class="drawer-navigation-item-label">Main menu</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon"> </span>
            </a>

            <a role="button" href="#" class="drawer-navigation-item">
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-fire fa-lg"></i>
              </span>
              <span class="drawer-navigation-item-label">Normal Item</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon"> </span>
            </a>
            <div
              role="button"
              class="drawer-navigation-dropdown-item"
              aria-expanded="false"
            >
              <div class="drawer-navigation-item-toggler">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Dropdown Item</span>
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon">
                  <i class="fa-brands fa-vaadin fa-sm"></i>
                </span>
              </div>

              <div class="dropdown-items">
                <!-- drop down item -->

                <!-- item 1 -->
                <a href="#" class="drawer-navigation-item dropdown-item">
                  <span class="drawer-navigation-item-icon">
                    <i class="fa-solid fa-fire fa-lg"></i>
                  </span>
                  <span class="drawer-navigation-item-label">Normal Item 1</span
                  >
                  <span class="spacer"></span>
                  <span class="drawer-navigation-item-following-icon"> </span>
                </a>
                <!-- item 2 -->
                <a href="#" class="drawer-navigation-item dropdown-item">
                  <span class="drawer-navigation-item-icon">
                    <i class="fa-solid fa-fire fa-lg"></i>
                  </span>
                  <span class="drawer-navigation-item-label">Normal Item 2</span
                  >
                  <span class="spacer"></span>
                  <span class="drawer-navigation-item-following-icon"> </span>
                </a>

                <!-- drop down items end -->
              </div>
            </div>
          </div>
          <div data-drawertest="styles" class="drawer-navigation-itemstest">
            <a
              role="button"
              href="#"
              class="drawer-navigation-item drawer-close"
            >
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-arrow-left"></i>
              </span>
              <span class="drawer-navigation-item-label">Main menu</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon"> </span>
            </a>

            <a role="button" href="#" class="drawer-navigation-item">
              <span class="drawer-navigation-item-icon">
                <i class="fa-solid fa-fire fa-lg"></i>
              </span>
              <span class="drawer-navigation-item-label">Normal Item 2</span>
              <span class="spacer"></span>
              <span class="drawer-navigation-item-following-icon"> </span>
            </a>
            <div
              role="button"
              class="drawer-navigation-dropdown-item"
              aria-expanded="false"
            >
              <div class="drawer-navigation-item-toggler">
                <span class="drawer-navigation-item-icon">
                  <i class="fa-solid fa-fire fa-lg"></i>
                </span>
                <span class="drawer-navigation-item-label">Dropdown Item 3</span
                >
                <span class="spacer"></span>
                <span class="drawer-navigation-item-following-icon">
                  <i class="fa-brands fa-vaadin fa-sm"></i>
                </span>
              </div>

              <div class="dropdown-items">
                <!-- drop down item -->

                <!-- item 1 -->
                <a href="#" class="drawer-navigation-item dropdown-item">
                  <span class="drawer-navigation-item-icon">
                    <i class="fa-solid fa-fire fa-lg"></i>
                  </span>
                  <span class="drawer-navigation-item-label">Normal Item 1</span
                  >
                  <span class="spacer"></span>
                  <span class="drawer-navigation-item-following-icon"> </span>
                </a>
                <!-- item 2 -->
                <a href="#" class="drawer-navigation-item dropdown-item">
                  <span class="drawer-navigation-item-icon">
                    <i class="fa-solid fa-fire fa-lg"></i>
                  </span>
                  <span class="drawer-navigation-item-label">Normal Item 2</span
                  >
                  <span class="spacer"></span>
                  <span class="drawer-navigation-item-following-icon"> </span>
                </a>

                <!-- drop down items end -->
              </div>
            </div>
          </div>
        </nav>
      </aside>
    </div>
  </div>
</div>
<style>
  @import "https://unpkg.com/open-props";

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .body {
    --navigation-rail-width: 88px;
    --navigation-item-width: 80px;
    --navigation-drawer-width: 230px;
    --rounded-pill: 500px;
    overflow-x: hidden;
    font-family: var(--font-sans);
    display: flex;
    flex: var(--navigation-rail-width) auto;
    height: 100%;
    position: relative;
  }

  .navigation-rail-wrappertest {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--navigation-rail-width);
    background-color: var(--stone-1);
    color: var(--gray-5);
    z-index: var(--layer-5);
    transition: all 250ms var(--ease-4);
  }

  .wrapper.active .navigation-rail-wrappertest {
    left: 0;
  }

  .navigation-rail-wrappertest a {
    text-decoration: none;
  }

  .navigation-rail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-inline: 1em;
    height: inherit;
    width: 100%;
  }

  .navigation-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-items .navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 0.5em;
    width: var(--navigation-item-width);
    color: var(--gray-7);
    transition: 0.3s;
  }

  .navigation-item-following-icon {
    display: none;
  }

  .navigation-item .navigation-item-icon {
    padding-inline: 1em;
    padding-block: 0.5em;
    transition: 0.3s;
    border-radius: var(--rounded-pill);
  }

  .navigation-item .navigation-item-label {
    font-size: var(--font-size-0);
  }

  .navigation-item:focus .navigation-item-icon {
    background-color: var(--indigo-3);
    color: white;
  }

  .navigation-item:hover .navigation-item-icon {
    background-color: var(--gray-7);
    color: white;
  }

  .navigation-item:hover .navigation-item-label {
    color: var(--gray-7);
    font-weight: bold;
  }

  .sidebar-items {
    position: absolute;
    height: 45px;
    display: none;
    top: 0;
    left: 0;
  }

  .sidebar-togglertest {
    top: 0.5em;
    left: 0.5em;
    cursor: pointer;
    display: none;
    z-index: var(--layer-important);
  }

  .sidebar-togglertest .sidebar-togglertest-icon:last-child {
    display: none;
  }

  .sidebar-togglertest.active .sidebar-togglertest-icon:last-child {
    display: block;
  }

  .sidebar-togglertest.active .sidebar-togglertest-icon:first-child {
    display: none;
  }

  /* --  toggler styles -- */
  .theme-toggler {
    --__dimensions: calc(var(--navigation-item-width) - 1.5em);

    outline: 1px solid black;
    color: black;
    border-radius: var(--radius-round);
    cursor: pointer;
    transition: 0.3s;
  }

  .theme-toggler .toggler {
    overflow: hidden;
    position: relative;
    height: var(--__dimensions);
    width: var(--__dimensions);
  }

  .theme-toggler .toggler:hover {
    opacity: 0.5;
  }

  .toggler .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all 250ms var(--ease-4);
  }

  .toggler .icon:first-child {
    top: -100px;
  }

  .toggler.active .icon:first-child {
    top: 50%;
  }

  .toggler.active .icon:last-child {
    top: 100px;
  }

  .toggler__label {
    display: none;
  }

  /* --  navigation drawer styles -- */

  .navigation-drawer {
    margin-left: var(--navigation-rail-width);
    position: relative;
    flex-grow: 1;
    display: flex;
    /*   background-color: var(--blue-1); */
    z-index: var(--layer-4);
  }

  .drawer-wrappertest {
    /* for making it take space */
    /* position: absolute; */

    position: absolute;
    top: 0;
    height: 100dvh;
    width: var(--navigation-drawer-width);
    border-top-right-radius: var(--radius-4);
    border-bottom-right-radius: var(--radius-4);
    background-color: var(--stone-2);
    transition: all 250ms var(--ease-4);
  }

  .drawer-wrappertest[aria-expanded="false"] {
    left: calc(
      calc(var(--navigation-drawer-width) + var(--navigation-rail-width)) * -1
    );
  }
  .drawer-wrappertest[aria-expanded="true"] {
    left: var(--navigation-rail-width);
    border-left: 1px solid red;
  }

  .drawer-navigation {
    width: inherit;
    height: inherit;
    padding-block: 1em;
  }

  .drawer-navigation-itemstest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
  }

  .drawer-navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    border-radius: var(--rounded-pill);
    width: calc(100% - 16px);
    height: 44px;
    padding-inline: 1.5em;
    padding-block: 1em;
    transition: 0.3s;
  }

  .drawer-close {
    display: none;
  }

  .drawer-navigation-item-icon {
    display: none;
    margin-inline: 1em;
  }

  .drawer-navigation-dropdown-item {
    display: flex;
    flex-direction: column;
    color: #000000;
    width: calc(100% - 16px);
    transition: 0.3s;
  }

  .drawer-navigation-dropdown-item .drawer-navigation-item-toggler {
    border-radius: var(--rounded-pill);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    padding-inline: 1.5em;
    padding-block: 1em;
    cursor: pointer;
    transition: 0.3s;
  }

  .drawer-navigation-dropdown-item .drawer-navigation-item-toggler:hover {
    background-color: var(--stone-4);
    color: white;
  }

  .dropdown-items {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    overflow: hidden;
    transition: max-height 250ms var(--ease-4);
  }

  .drawer-navigation-item-following-icon {
    transition: transform 250ms var(--ease-4);
  }

  .drawer-navigation-dropdown-item[aria-expanded="false"] .dropdown-items {
    max-height: 0;
  }
  .drawer-navigation-dropdown-item[aria-expanded="true"] .dropdown-items {
    max-height: 500px;
    transition: max-height 250ms var(--ease-4);
  }

  .drawer-navigation-dropdown-item[aria-expanded="true"]
    .drawer-navigation-item-following-icon {
    transform: rotate(-180deg);
  }

  .drawer-navigation-item:not(.dropdown-item):hover {
    background-color: var(--stone-4);
    color: white;
  }

  .spacer {
    flex-grow: 1;
  }

  /* --  page content -- */

  .page-content {
    flex-grow: 1;
  }

  .wrapper {
    background-color: var(--stone-1);
    width: var(--navigation-rail-width);
    left: -88px;
  }

  /* media queries  */

  @media screen and (width <= 960px) {
    :root {
      --navigation-item-width: calc(100% - 16px);
    }

    .sidebar-items {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 1em;
      gap: 1.5em;
      z-index: var(--layer-important);
    }

    .navigation-rail-wrappertest {
      --navigation-rail-width: 300px;
      width: var(--navigation-rail-width);
      border-top-right-radius: var(--radius-4);
      border-bottom-right-radius: var(--radius-4);
      left: -300px;
    }

    .navigation-rail {
      padding-top: 2em;
      padding-inline: 16px;
    }

    .navigation {
      width: 100%;
    }

    .navigation-items {
      width: 100%;
    }

    .navigation-items .navigation-item {
      flex-direction: row;
      padding-inline: 1em;
      padding-block: 0.5em;
      margin-inline: auto;
      width: 100%;
      border-radius: var(--rounded-pill);
    }

    .navigation-item-following-icon {
      display: block;
    }

    .navigation-item:hover {
      background-color: var(--stone-4);
      color: white;
    }

    .navigation-item .navigation-item-label {
      font-size: var(--font-size-1);
    }

    /* remove desktop navigation styles */

    .navigation-item:focus .navigation-item-icon {
      background-color: unset;
      color: unset;
    }

    .navigation-item:hover .navigation-item-icon {
      background-color: unset;
      color: unset;
    }

    .navigation-item:hover .navigation-item-label {
      color: unset;
      font-weight: unset;
    }

    /* drawer styles */

    .drawer-navigation {
      padding-block: 2em;
    }

    .drawer-wrappertest[aria-expanded="true"] {
      left: 0;
      border: 0;
    }

    .navigation-drawer {
      margin-left: 0px;
      padding-bottom: 1em;
    }

    .drawer-wrappertest {
      width: 300px;
      background-color: var(--stone-1);
    }

    .drawer-navigation-item {
      padding-block: 0.5em;
    }

    .drawer-navigation-item-icon {
      display: inline;
    }

    .drawer-close {
      display: flex;
    }

    .theme-toggler {
      width: calc(100% -16px);
      margin-inline: auto;
    }

    .toggler {
      width: 100%;
    }
    .theme-toggler {
      display: flex;
      justify-content: space-between;
      align-items: center;
      outline: 1px solid black;
      border-radius: var(--rounded-pill);
      padding-inline: 1em;
    }

    .theme-toggler .toggler {
      outline: none;
    }

    .toggler__label {
      display: inline;
      color: black;
    }

    .wrapper {
      width: 300px;
      border-top-right-radius: var(--radius-4);
      border-bottom-right-radius: var(--radius-4);
      left: -300px;
      position: absolute;
      z-index: var(--layer-3);
      height: 100%;
    }

    .wrapper.active {
      left: 0;
    }

    .sidebar-togglertest {
      display: block;
    }
    .page-content {
      margin-top: 46px;
      position: relative;
      z-index: var(--layer-2);
    }
  }
</style>

<script>
  //@ts-nocheck
  import $ from "jquery";

  $(function () {
    //theme toggler logic
    $(".theme-toggler").click(function () {
      $(".toggler").toggleClass("active");
    });

    //navigation-drawer dropdown item toggler logic

    $(".drawer-navigation-item-toggler").click(function () {
      var $dropdownItem = $(this).closest(".drawer-navigation-dropdown-item");
      var isExpanded = $dropdownItem.attr("aria-expanded") === "true";

      // Toggle the aria-expanded attribute
      $dropdownItem.attr("aria-expanded", !isExpanded);
    });

    //drawer toggler logic

    var defaultItem = $(".drawer-navigation-itemstest:first");
    var defaultId = defaultItem.data("drawertest");
    console.warn(defaultId);
    $(".drawer-navigation-itemstest").not(`[data-drawertest='${defaultId}']`).hide();

    console.warn($(`[data-drawertest='${defaultId}']`));

    $(`[data-drawertest='${defaultId}']`).fadeIn(300);

    // Hide all other drawer items by default

    //open if hover on item
    $("[data-targettest]").mouseenter(function () {
      var drawerItem = $(".drawer-wrappertest");
      console.log("entered");
      // Toggle the aria-expanded attribute
      // drawerItem.attr("aria-expanded", true);

      let drawerToSetActive = $(this).data("drawer-target");

      console.warn($(`[data-drawertest='${drawerToSetActive}']`));
      $(".drawer-navigation-itemstest")
        .not(`[data-drawertest='${drawerToSetActive}']`)
        .hide();
      $(`[data-drawertest='${drawerToSetActive}']`).fadeIn(300);

      var drawerItem = $(".drawer-wrappertest");
      // Toggle the aria-expanded attribute
      drawerItem.attr("aria-expanded", true);
    });

    $("[data-targettest]").click(function () {
      var drawerItem = $(".drawer-wrappertest");
      let drawerToSetActive = $(this).data("drawer-target");

      // Check if the drawer is already visible
      if (drawerItem.hasClass("open")) {
        $(".drawer-navigation-itemstest")
          .not(`[data-drawertest='${drawerToSetActive}']`)
          .hide();
        $(`[data-drawertest='${drawerToSetActive}']`).fadeIn(300);
      } else {
        // Slide in the drawer from the left
        drawerItem.css({ left: "-100%" }).animate(
          {
            left: 0,
          },
          250
        );

        // Hide the navigation rail
        $(".navigation-rail-wrappertest").animate(
          {
            left: "-100px",
            opacity: 0,
          },
          250
        );

        $(".drawer-wrappertest").addClass("open");
      }

      $(".drawer-wrappertest").css("z-index", 10);
      $(".navigation-rail-wrappertest").css("z-index", -1);
    });

    $(".drawer-close").click(function () {
      // Slide out the drawer to the left
      $(".drawer-wrappertest").animate(
        {
          left: "-100%",
        },
        250,
        function () {
          // Reset drawer visibility and content
          $(".drawer-wrappertest").removeClass("open");
          $(".drawer-navigation-itemstest").hide();
        }
      );

      // Show the navigation rail
      $(".navigation-rail-wrappertest").animate(
        {
          opacity: 1,
          left: "0px",
        },
        250
      );

      $(".drawer-wrappertest").css("z-index", -1);
      $(".navigation-rail-wrappertest").css("z-index", 10);
    });

    $(".drawer-wrappertest").mouseenter(function () {
      var drawerItem = $(".drawer-wrappertest");
      // Toggle the aria-expanded attribute
      drawerItem.attr("aria-expanded", true);
    });

    //close if hover anywhere else
    $("[data-targettest], .drawer-wrappertest").mouseleave(function () {
      var drawerItem = $(".drawer-wrappertest");
      // Set the aria-expanded attribute to false when mouse leaves the target or wrapper
      drawerItem.attr("aria-expanded", false);
    });

    $(".sidebar-togglertest").click(function () {
      $(this).toggleClass("active");
      $(".wrapper").toggleClass("active");
      $(".navigation-rail-wrappertest").removeAttr("style");

      // Remove the style attribute from elements with the class 'drawer-wrappertest'
      $(".drawer-wrappertest").removeAttr("style");
    });

    //function to reload page on resize to test responsive ness

    let resizeTimeout;

    function debouncedResize() {
      // Clear the previous timeout, if any
      clearTimeout(resizeTimeout);

      // Set a new timeout
      resizeTimeout = setTimeout(function () {
        // Reload the page after 1 second of resizing has stopped
        location.reload();
      }, 1000); // 1000 milliseconds (1 second)
    }

    // Attach the debouncedResize function to the window's resize event using jQuery
    $(window).on("resize", debouncedResize);
  });
</script>
